
.splash-title {
  color: white;
font-size: 30px;
letter-spacing: -2px;
font-weight: 900;
margin-left: 50px;
    margin-top: 10px;

}

.splash-hook {

  color: white;
  font-weight: 650;
  letter-spacing: -3px;
  max-width: 470px;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 86px;
  line-height: 96px;
  letter-spacing: -4px;
}

.splash-login {
  position: absolute;
  right: 5%;
}


.nav-bar-splash {
  background-color: white;
  margin: 0;
  min-width: 100%;
}

.prof-pic {
  background: image-url('user-prof.jpg');
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border-width: thin;
  overflow: hidden;
}

.signup-root {
  font-size: 1.1em !important;
    color: #60605a;
    line-height: 46px;
    white-space: nowrap;
    text-decoration: underline;
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.login-root {
  font-weight: 700;
  background-color: #fc4c02;
  text-transform: uppercase;
  height: 64px;
  width: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 33px;
  color: white;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: -1px;
  &:visited {
    text-decoration: none;
  }
}

.session-nav {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  min-width: 100%;
  background-color: white;
  h3 {
    margin-top: 41px;
    margin-bottom: 42px;
  }

}

.login-sprite {
  background: image-url('login-button-sprite.png') no-repeat 0 0;
	width: 13px;
	height: 13px;
  opacity: 0;
}


.inner-nav-bar {
  min-width: 100%;
  min-height: 55px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  // min-width: 100%;
  // min-height: 55px;
  // display: flex;
  // justify-content: space-evenly;
  // align-items: center;
  // background-color: white
  h3 {
    font-weight: 100;
    /* font-weight: 100; */
    font-family: 'MaisonNeue', 'Helvetica', Arial, sans-serif;
    /* background-color: white; */
    font-size: 17.8px;
    line-height: 30.08px;
  }
}

.header-link {
  text-decoration: none;
  color: #fc4c02;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 900;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.75);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 60px;
  display: flex;
  /* align-items: ; */
  flex-direction: column;
}

.signup-form-container {
  background-color: white;
  margin: 0 auto;
  border-radius: 2px;
  margin-top: 60px;
  height: 475px;
  width: 435px;
}

.signup-form-box {
  display: flex;
  flex-direction: column;
  padding: 30px 30px 30px 30px;
}

.login-form-title {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 76px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
  padding: 20px 30px 20px 30px;
}

.signup-form-title {
  font-weight: 600;
  line-height: 1.2;
  font-size: 32px;
  margin: 20px 0px 12px 0px;
  h3 {
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0;
  }

}

.signup-description {
  font-size: 16px;
  font-weight: 500;
}

.login-form {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 316px;
  width: 300px;
  padding: 50px 50px 0 50px;
}

.signup-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* height: 316px;
  width: 300px;
  padding: 50px; */
  label {
    align-self: left;
    font-size: 17px;
    margin-bottom: 10px;
  }
}

.login-input {
  margin: 6px;
  border: 1px;
  padding: 12px 10px 12px 10px;
  min-width: 278px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #666666;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.signup-input {
  margin: 6px;
  border: 1px;
  padding: 12px 10px 12px 10px;
  min-width: 350px;
  height: 28px;
  border: 1px solid #ccccd1;
  color: black;
  font-size: 16px;
  font-weight: 400;
  border-radius: 3px;
  &:active {
    border-color: black;
    outline:0 !important;
  }
  &:focus {
    border-color: black;
    outline:0 !important;
  }
}

.login-input {
  &:focus {
    background-color: white;
    font: 400 11px system-ui;
    color: black;
    font-size: 15px;
  }
  &::placeholder {
    font-size: 15px;
    font-weight: 400;
  }
  &::selection {
    background-color: #f7452e;
    color: white;
  }
}

/* .signup-input:focus {
  border-color: black;
} */

/* .signup-input::placeholder {
  font-size: 15px;
  font-weight: 400;
} */

/* .signup-input::selection {
  background-color: #f7452e;
  color: white;
} */

.login-submit-button {
  width: 300px;
  min-height: 40px;
  line-height: inherit;
  border-radius: 3px;
  /* margin-top: 20px; */
  background-color: #fc4c02;
  color: white;
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
  border: 1px solid #fc4c02;
  padding: 9px 10px 9px 10px;
  cursor: (pointer,);
  &:active {
    outline:0 !important;
  }
  &:focus {
    outline:0 !important;
    background-color: #fd6f34;
  }
}

.signup-submit-button {
  height: 44px;
  width: 121px;
  border-radius: 3px;
  margin-top: 20px;
  background-color: #fc4c02;
  color: white;
  font-size: 17px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 1px solid #fc4c02;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  align-self: flex-end;
  &:hover {
    background-color: #c93d02;
    border-color: #bf3a02;
  }
}

.login-submit-button {
  &:active:focus {
    /* outline: none; */
  }
  &:hover {
    background-color: rgb(201, 61, 2);
    border-color: rgb(201, 61, 2);
    /* outline: none; */
  }
  &:active {
    background-color: #f36b31;
    /* outline: none; */
  }
}

.login-border-top-line {
  border-top: 1px solid rgba(60, 60, 60, 0.75);
  padding: 10px 30px 10px;
  margin: 30px -30px -30px;
  width: 300px;
}

.signup-border-top-line {}

.login-error {
  margin-top: -13px;
  font-size: 13px;
  background-color: #d9534f;
  height: 18px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-signup {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccccd1;
  border-radius: 1px;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
  min-height: 34px;
  padding: 9px 10px;
  color: #606065;
  font-weight: 450;
  text-decoration: none;
  &:hover {
    background-color: #f5f5fa;
    color: black;
  }
  a {
    text-decoration: none;

    &:visited {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      color: black;
    }
  }

}

.demo-button {
  align-self: center;
  margin-top: 15px;
  font-size: 12px;
  color: white;
  font-weight: 500;
  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.dropbtn {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  /* padding-top: 14px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  &:hover .dropdown-sprite {
    background: image-url('nav_sprite.png') no-repeat 0 -30px;
    width: 9px;
    height: 5px;
  }
}


// 67 56 44 32
.animate-opacity {
  animation: opac .8s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.form-animate-opacity {
  animation-delay: 2s;
  animation: opac .2s;
}

@keyframes opac {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


.signup-modal {
  display: flex;
  align-items:  center;
  justify-content:  center;
  height:  100vh;
  width:  100vw;
  flex-direction:  column;
}

.modal-close:hover {
  background: url('modal-close.svg') no-repeat -3px -27px;
  width: 18px;
  height: 18px;
}



.dropdown-sprite {
  background: image-url('nav_sprite.png') no-repeat 0 0;
  width: 9px;
  height: 5px;
  margin-left: 3px;
  &:hover {
    background: image-url('nav_sprite.png') no-repeat 0 -30px;
    width: 9px;
    height: 5px;
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  button {
    width: 100%;
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    &:hover {
      background-color: #e6e6eb;
      cursor: pointer;
    }
  }
}

.dropdown:hover {
  .dropdown-content {
    display: block;
    left: auto;
    right: 0;
    margin-right: -10px;
    cursor: pointer;
  }
  .dropbtn {
    border: 1px 1px 1px 0;
    border-color: #e6e6eb;
    cursor: pointer;
  }
}

.backdrop {
  position: fixed;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  align-self: center;
  position: absolute;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-close {
  background: image-url('modal-close.svg') no-repeat -3px -3px;
  opacity: 0.5;
  width: 18px;
  height: 18px;
  align-self: flex-end;
  margin-top: -14px;
  margin-right: -16px;
  &:hover {
    background: image-url('modal-close.svg') no-repeat -3px -27px;
    width: 18px;
    height: 18px;
    opacity: 1;
    cursor: pointer;
  }
}

.dropdown-sprite {
  background: image-url('nav_sprite.png') no-repeat 0 0;
  width: 9px;
  height: 5px;
  margin-left: 3px;
  &:hover {
    background: image-url('nav_sprite.png') no-repeat 0 -30px;
    width: 9px;
    height: 5px;
  }
}

.sprites {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #home img {
  border: none;
}

#home {
  width: 12px;
  padding: -4px;
  height: 10px;
  background: url(nav_sprite.png) 0 0;
  border: none;
} */
