::-webkit-input-placeholder {
  color:#666;
  font-size: 14px;
 }
::-moz-placeholder {
  color:#666;
  font-size: 14px;
 } /* firefox 19+ */
:-ms-input-placeholder {
  color:#666;
  font-size: 14px;
 } /* ie */
input:-moz-placeholder {
   font-size: 14px;
   color:#666;
 }

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.workout-feed {
  // margin-left: 99px;
}

.hour-input, .minute-input, .second-input {
      width: 58.3px;

}

.page-container {
  width: 1248px;
  min-width: 0;
  // padding-left: 195px;

  background-color: white;
  flex-direction: column;
  justify-content: space-around;
  input, .sport-dropdown, .unit-dropdown {
    border: 1px solid #ccccd1;
    height: 30px;
    padding: 1px 10px;
    margin-top: 5px;
    &:focus {
      border-color: #007FB6;
      outline: 0;
  }
  }
  h1 {
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 24px;
    font-weight: 300;
  }
}

.row {
  display: flex;
  min-height: 77px;
  width: 1068px;
}

.description-row, .workout-title {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.input-label {
  color: #2d2d32;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 5px;
  width: 237px;
}

.title-input {
  width: 504px;
}

.workout-description {
    border: 1px solid #ccccd1;
    width: 504px;
    height: 125px;
    resize: vertical;
    overflow: auto;
    vertical-align: top;
    padding: 10px;
    &:focus {
      border-color: #007FB6;
      outline: 0;
    }

}

.distance-input, .elevation-input {
  width: 237px;
  input {
    width: 60%
  }
}

.distance-input {
  margin-right: 50px
}

.distance {
  display: flex
}

.duration-input  {
    width: 237px;
    margin-right: 50px;
  .minute-input {
    border-right: none;
    border-left: none;
    &:focus {
      border-left: 1px solid #007FB6;
      border-right: 1px solid #007FB6;
    }
  }
}

row.workout {
  min-width: 237px;
}

.submit-workout {
  display: flex;
  align-items: baseline;
  a {
    margin-left: 15px;
    text-decoration: none;
    color: #007FB6;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

  }
}

.activity_type {
  width: 237px;
}
.submit-button {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fc4c02;
  border-color: #fc4c02;
  color: white;
  width: auto;
  height: auto;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.4em;
  min-height: 34px;
}

.sport-dropdown {
  font-size: 14px;
  display: flex;
  align-items: center;
  background: image-url('dropdownarrow.svg') 97% 50% no-repeat;
  background-size: 8px 8px;
  margin-top: 87px;
}

.unit-dropdown {
 font-size: 14px;
 display: flex;
 align-items: center;
 background: image-url('dropdownarrow.svg') 92% 50% no-repeat;
 background-size: 8px 8px;
}


.unit-dropdown.Dropdown-root {
  width: 59px;
  border-left: none;
  &:focus {
    border: 1px solid #007FB6;
  }
}



.sport-dropdown > .Dropdown-menu {
  margin-top: 87px;
  width: 235px;
}

.sport-dropdown > .Dropdown-control {
  width: 227px;
}

.distance-drop > .Dropdown-menu {
  margin-top: 87px;
}



.input-seperator {
  height: 1px;
  background-color: #ccccd1;
  margin: 30px 0;
  width: 1220px
}

.date-time {
  margin-left: 50px;
}

#date.date-time-input {
  width: 118px;
}

#time {
  border-left: none;
  width: 69px;
  &:focus {
    border-left: 1px solid #007FB6;
  }
}


.Dropdown-control {
  position: absolute;
  width: 78px;
  height:34px;
  display: flex;
  align-items: center;
}

.Dropdown-menu{
  width: 77px;
  background-color: white;
  position: absolute;
  margin-top: 52px;
  margin-left: -11px;
  border-bottom: 1px solid #ccccd1;
  border-right: 1px solid #ccccd1;
  border-left: 1px solid #ccccd1
}

.Dropdown-option {
  font-size: 14px;
  background-color: white;
  min-height: 35px;
  padding: 9px 10px;
  box-sizing: border-box;
  line-height: 1.2;
  display: block;
  color: #2d2d32;
  border: none;
  width: 100%;
  text-align: left;
  &:hover {
    background-color: #e6e6eb
  }
}

.select-dropdown {
  -webkit-appearance: none;
    // background: image-url('dropdownarrow.svg') no-repeat 96% 0;
    background: image-url('dropdownarrow.svg') 97% 50% no-repeat;
    background-size: 8px 8px;
    padding: 1px 10px;
    width: 237px;
    height: 34px;
    box-shadow: none;
    background-color: white;
    border-radius: 0;
    border: 1px solid  #ccccd1;
    border-left: none;
    box-shadow: none;
    margin-top: 5px;
    font-size: 12px;
}

.select-dropdown.sport-select {
  width: 237px;
  border-left: 1px solid #ccccd1;
}

.create-workout-form {
  display: flex;
  flex-direction: column;
  position: relative;
  ul {
    align-self: center;
    width: max-content;
    position: absolute;
    z-index: 5;
    margin-left: -176px;
    margin-top: 124px;
  }
}
