/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

body {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
html {
  background: url('background-login2.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, html a {
    /* -webkit-font-smoothing: antialiased; */
    /* text-shadow: 1px 1px 1px rgba(0,0,0,0.004); */
}

.nav-bar {
  background-color: white;
  margin: 0;
}
.inner-nav-bar {
  max-width: 600px;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: inherit;
}

.header-link {
  text-decoration: none;
  color: #fc4c02;
  font-size: 30px;
  letter-spacing: 1px;
  font-weight: 900;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.5);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 60px;
}

.form-title {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 76px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
  padding: 20px 30px 20px 30px;
}

.login-form  {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
