/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map-container {
  height: 93vh;
  position: absolute;
  z-index: 0;
  min-width: 100vw;
  margin: 0;
  overflow: hidden;
}

.background-white{

}
.background-image-1 {
   background: url('http://res.cloudinary.com/bpowell15/image/upload/v1515625628/background-login2_dpah4e.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
 }
 .background-image-2  {
   background: url('http://res.cloudinary.com/bpowell15/image/upload/v1515625628/background-login3_kyhk4o.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
   width: 100vw;
   position: absolute;
   z-index: -100;
 }
 /* .background-image-8 {
   background: url('background-login2.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
 } */
 .background-image-3 {
   background: url('http://res.cloudinary.com/bpowell15/image/upload/v1515625628/background-login4_u2iltg.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
 }
 .background-image-4 {
   background: url('http://res.cloudinary.com/bpowell15/image/upload/v1515625628/background-login6_gcuzqx.jpg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -100;
 }



 button { outline: 0;}

 body {
       font-family: -apple-system,system-ui,BlinkMacSystemFont,Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
       font-size: 12px;
       height: 100%;
       width: 100%;

 }

 html, body {
    max-width: 100%;
    overflow-x: hidden;
}



 /* .splash-background{
   background: url('background-login5.jpeg') no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   overflow: visible;
 } */

 html, html a {
   -webkit-font-smoothing: antialiased;
   text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
 }
