/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
      font-family: -apple-system,system-ui,BlinkMacSystemFont,Roboto,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      font-size: 12px;

}


html {
  background: url('http://res.cloudinary.com/bpowell15/image/upload/v1514938395/background-login2_kkpnbs.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, html a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

.nav-bar {
  background-color: white;
  margin: 0;
}
.inner-nav-bar {
  max-width: 600px;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: inherit;
}

.header-link {
  text-decoration: none;
  color: #fc4c02;
  font-size: 30px;
  letter-spacing: -2px;
  font-weight: 900;
}

.login-form-container {
  background-color: rgba(0, 0, 0, 0.6);
  max-width: 400px;
  margin: 0 auto;
  border-radius: 3px;
  margin-top: 60px;
}

.form-title {
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  min-height: 76px;
  color: white;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  border-radius: 3px;
  padding: 20px 30px 20px 30px;
}

.login-form  {
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 316px;
    width: 300px;
    padding: 50px;
}

.login-input {
  margin: 6px;
  border: 1px;
  padding: 12px 10px 12px 10px;
  min-width: 278px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #666666;
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.login-input:focus {
  background-color: white;
  font: 400 11px system-ui;
  color: black;
  font-size: 15px;
}

.login-input::placeholder {
  font-size: 15px;
  font-weight: 400;
}

.login-input::selection {
  background-color: #f7452e;
  color: white;
}

.login-submit-button {
  width: 300px;
min-height: 40px;
line-height: inherit;
border-radius: 3px;
/* margin-top: 20px; */
background-color: #fc4c02;
color: white;
font-size: 15px;
font-weight: bold;
margin-top: 20px;
border: 1px solid #fc4c02;
padding: 9px 10px 9px 10px;
cursor: pointer,
/* outline: none; */
}

.login-submit-button:active:focus {
  /* outline: none; */
}

.login-submit-button:hover {
  background-color: #e64501;
  /* outline: none; */
}

.login-submit-button:active {
  background-color: #f36b31;
  /* outline: none; */
}

.border-top-line {
  border-top: 1px solid rgba(60,60,60,0.75);
  padding: 10px 30px 10px;
  margin: 30px -30px -30px;
  width: 300px;
}

.login-error {
  margin-top: -13px;
  font-size: 13px;
  background-color: #d9534f;
  height: 18px;
  text-align: center;
  padding: 16px;
  font-weight: bold;
  color: white;
  letter-spacing: -1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-signup {
  background-color: #fff;
  border: 1px solid #ccccd1;
  border-radius: 1px;
  color: #2d2d32;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 13px;
  min-height: 34px;
  padding: 9px 10px;
}

.login-signup a {
  text-decoration: none;
  color: #2d2d32;
}

.login-signup a:visited {
  text-decoration: none;
}

.login-signup:hover {
   background-color: #f5f5fa;
}






.dropbtn {
    font-size: 16px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content button {
    width: 100%;
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-content button:hover {
  background-color: #e6e6eb
  cursor: pointer;

}

.dropdown:hover .dropdown-content {
    display: block;
    left:auto;
      right:0;
      margin-right:-10px;
      cursor: pointer;
}

.dropdown:hover .dropbtn {
    border: 1px 1px 1px 0;
    border-color: #e6e6eb;
    cursor: pointer;
}
