// Place all the styles related to the Routes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.first-line {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  div {
    padding: 15px;
    color: #99999e;
    &:hover {
      cursor: pointer;
    }
  }
}
